#colophon {
  padding-top: 50px;
  background-image: linear-gradient(rgba(16, 61, 103, 0.8), rgba(0, 0, 0, 0.8));

  .wrapper {
    padding: 20px 15px;
  }

  .hentry {
    margin-bottom: 20px;
  }

  ul {
    list-style: none;

  }

  a {
    color: $white;
  }

  .link-more {
    color: $red;

    &:hover {
      color: $gray8;
    }
  }


  .widget {
    li {
      &:before {
        content: "\f101";
        font-family: "FontAwesome";
        float: left;
        margin-right: 15px;
        color: $gray8;
      }
    }

    .textwidget strong {
      color: $gray8
    }

    .textwidget {
      p {
        color: $white;
      }
    }
  }

  .widget .social-icons {
    li {
      a {
        color: $black3;
      }

      &::before {
        display: none;
      }
    }

    // ul {
    //   display: flex;
    //   flex-wrap: wrap;
    //   justify-content: center;
    // }
  }

  .site-info {
    background-color: #111;
    color: rgba(255, 255, 255, 0.50);
    padding: 18px 0;
    line-height: 1.5;

    span {
      display: block;
      text-align: center;
      margin: 10px 0;
    }

    a {
      color: $white;

      &:hover,
      &:focus {
        color: #fff;
      }
    }

  }

  .overflow {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba($darkblue, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
  }

}