@import 'variables';


#masthead {
    background: $darkblue;



}

.site-branding {
    .site-title {
        text-align: center;
    }

    .site-description {
        color: $white;
        text-align: center;
    }
}