@media screen and (max-width: 992px) {


    .comments-title,
    #reply-title {
        font-size: 28px;
    }

    #instagram {
        .hentry {
            float: left;
            width: 50%;
            padding: 10px;
        }

    }

    .video-wrapper.has-featured-image {
        display: block;
        align-items: center;
    }

    #video {

        .featured-image,
        .entry-container {
            width: 100%;
            float: none;
        }
    }

    #message .section-content {
        padding: 0 0 60px 0;
    }

    #message .author-thumbnail,
    #message .entry-container {
        width: 80%;
        margin: 0 auto;
        float: none;
    }

    #message .entry-container {
        padding-top: 30px;
    }

}