@media screen and (max-width: 600px) {

    #message {
        .author-thumbnail {

            &:before,
            &:after {
                width: 150px;
            }

            &:before {
                margin-right: 15px;
            }

            &:after {
                margin-left: 15px;
            }

        }
    }

    #welcome-video {
        .wrapper {
            padding-bottom: 0;
        }

        .responsive-container {
            height: 320px;
            width: 90%;
        }
    }

    #primary #main .flex {

        article {
            width: 100%;
        }
    }


}