/*--------------------------------------------------------------
#                   RESPONSIVE
--------------------------------------------------------------*/



@media screen and (max-width: 480px) {
    #masthead {
        .header-top {
            padding: 0;

            .wrapper {
                justify-content: flex-end;

            }
        }


    }

    #masthead .wrapper {
        width: 100%;
        max-width: 100%;
        padding: 0;
    }

    #masthead .header-top .wrapper {
        justify-content: space-between;
        padding: 0;
    }

    #masthead .header-top .wrapper .container a {
        display: block;
    }


    .site-branding {
        text-align: center;
        float: none;
        display: block;


    }

    .menu-main-menu-container {
        width: 80vw;
    }


    .menu-toggle {
        margin: auto;
        float: right;
        display: block;
        width: 100%;
        text-align: center;
        width: 65px;
        height: 65px;
    }

    .main-navigation {
        float: none;
    }

    .main-navigation {
        float: none;
    }

    #welcome-video {
        .responsive-container {
            height: 250px;
            width: 100%;
        }
    }


    #message .author-thumbnail {

        &::before,
        &::after {
            width: 100px;
        }

        &:before {
            margin-right: 10px;
        }

        &:after {
            margin-left: 10px;
        }
    }


    #courses .col-2 article {
        width: 100%;
    }


    #our-story .content-wrapper {
        padding: 25px;
    }

    #content {
        width: 98%;
    }

    #content .page-section .entry-content {
        padding: 15px 5px;
    }

    .featured-slider-wrapper {
        .slick-dots {
            right: 15%;
        }
    }

}