/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
/* Navigation
--------------------------------------------- */
.main-navigation {
    display: block;
    position: relative;

    .nav-menu {
        z-index: 10;
    }

    ul.nav-menu .current-menu-item>a {
        color: $red;
    }

    ul.nav-menu>li>a {
        padding: 15px 18px;
    }

    ul {
        display: none;
        list-style: none;
        margin: 0;
        padding-left: 0;
    }


    ul li:hover>ul,
    ul li.focus>ul {
        display: block;
        left: auto;
    }

    ul.sub-menu a {
        min-width: 200px;
    }


    li:hover>ul,
    li.focus>ul {
        left: auto;
    }

    li {
        position: relative;
    }

    ul ul {
        float: left;
        position: absolute;
        top: 100%;
        left: -999em;
        z-index: 99999;
        border-top: 1px solid #eee;
        margin-top: -1px;
    }

    ul ul {
        background-color: #333;
        text-align: left;
        padding: 0;
    }

    a {
        display: block;
        text-decoration: none;
        font-size: 15px;
        text-decoration: none;
        font-weight: 400;
        text-transform: uppercase;
        transition: all 0.1s ease-in-out;
    }

    button.dropdown-toggle {
        padding: 0;
        position: absolute;
        top: 0;
        right: 0;
        background-color: transparent;
        border: none;
        width: 45px;
        height: 55px;
        line-height: 56px;
        outline: none;
        border-radius: 0;
        color: white;
    }
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
    display: block;
}

.menu-toggle {
    border-radius: 0;
    font-size: 16px;
    margin: auto;
    outline: none;
    display: block;
    height: 80px;
    position: relative;
    min-width: 64px;
    border: none;
}

.menu-toggle span {
    width: 35px;
    height: 2px;
    display: block;
    background-color: #333;
    margin: 9px 0;
}