/*--------------------------------------------------------------
## Message From Author
--------------------------------------------------------------*/


#message {
    text-align: center;

    .wrapper {
        padding: 100px 50px 30px 30px;
        background: $white;
    }


    .section-content {
        /*max-width: 800px;*/
        margin: auto;
        padding: 60px 0 0;

        .author-thumbnail {
            position: relative;
            border: 1px solid #f6f4f3;
            border-top-color: #fff;
            border-radius: 3px;
            border-top-color: #fff;
            border-radius: 3px;
            background-color: #ebe8e5;
            box-shadow: 0 0 2px 2px rgba(0, 0, 0, .15);
            overflow: hidden;

            .img {
                padding: 7px;
                position: relative;
            }


        }
    }

    .entry-header {
        margin-bottom: 2px;
        display: inline-block;
    }

    .entry-title a {
        color: $darkblue;
    }

    .entry-title,
    .entry-title {
        a {

            &:hover,
            &:focus {
                color: $red;
            }
        }

    }

    .author-thumbnail {
        width: 40%;
        position: relative;
        float: left;
    }

    .entry-content {
        margin-bottom: 22px;
    }

    .separator {
        margin-bottom: 15px;
        width: 70px;
        background-color: $red;
        height: 3px;
        margin: auto;
        margin: 20px auto;
    }

    .author-thumbnail img {

        height: 400px;
    }

    .entry-container {
        width: 55%;
        position: relative;
        float: right;

    }

    .entry-container.no-feature-image {
        width: 100%;
    }



    .author-thumbnail {
        div {
            &:before {
                content: "";
                border: 1px solid #fff;
                position: absolute;
                top: 15px;
                left: 15px;
                right: 15px;
                bottom: 15px;
                opacity: 1;
                display: block;
                transition: all 0.3s ease-in-out;

                z-index: 2;
            }

        }
    }

    .author-thumbnail {
        &:before {
            right: 100%;
            margin-right: 35px;
        }

        &:after {
            left: 100%;
            margin-left: 35px;
        }

    }

}