/*--------------------------------------------------------------
## Message From Author
--------------------------------------------------------------*/


#message {
    background: $white;
    text-align: center;
    padding: 100px 0 30px 0;


    .section-content {
        /*max-width: 800px;*/
        margin: auto;
    }

    .entry-header {
        margin-bottom: 2px;
        display: inline-block;
    }

    .entry-title a {
        color: $darkblue;
    }

    .entry-title,
    .entry-title {
        a {

            &:hover,
            &:focus {
                color: $red;
            }
        }

    }

    .author-thumbnail {
        width: 40%;
        position: relative;
        float: left;
    }

    .entry-content {
        margin-bottom: 22px;
    }

    .separator {
        margin-bottom: 15px;
        width: 70px;
        background-color: $red;
        height: 3px;
        margin: auto;
        margin: 20px auto;
    }

    .author-thumbnail img {
        width: 400px;
        height: 400px;
    }

    .entry-container {
        width: 55%;
        position: relative;
        float: right;
        padding: 60px 0;
    }

    .entry-container.no-feature-image {
        width: 100%;
    }



    .author-thumbnail {
        a {
            &::before {
                content: "";
                border: 6px solid #fd2d55;
                width: 400px;
                bottom: 0;
                left: 70px;
                right: 28px;
                position: absolute;
                top: 240px;
                bottom: -240px;
                z-index: -1;
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                transform: translateY(-50%);

            }
        }
    }

    .author-thumbnail {
        &:before {
            right: 100%;
            margin-right: 35px;
        }

        &:after {
            left: 100%;
            margin-left: 35px;
        }

    }

}