@media screen and (min-width: 567px) {
    .videos-container .video {
        width: 50%;
    }

    #courses .col-2 article {
        width: 80%;
        float: left;
        margin-bottom: 30px;
    }


    .blog-posts-wrapper {
        .col-3 article {
            width: 50%;
            float: left;
        }

        .col-3 article:nth-last-child(-n+2) {
            margin-bottom: 0;
        }

        .col-3 article:nth-child(2n+1) {
            clear: left;
        }
    }

    #counter .section-content.col-2 .inner {
        width: 50%;
        float: left;
    }

    #counter .section-content.col-2 .inner:nth-child(2n+1) {
        clear: left;
    }

    #counter .section-content.col-2 .inner:nth-last-child(-n+2) {
        margin-bottom: 0;
    }

    #counter .section-content.col-5 .inner:last-child {
        width: 100%;
        float: none;
    }


    #blog {

        .col-2 article,
        .col-3 article,
        .col-4 .blog-posts-wrapper .col-2 article {

            width: 50%;
            float: left;

        }

        .col-2 article:nth-child(2n+1),
        .col-3 article:nth-child(2n+1),
        .col-4 article:nth-child(2n+1),
        .blog-posts-wrapper .col-2 article:nth-child(2n+1) {
            clear: left;
        }

        .col-2 article:nth-last-child(-n+2),
        .col-3 article:nth-last-child(-n+2),
        .col-4 article:nth-last-child(-n+2),
        .blog-posts-wrapper .col-2 article:nth-last-child(-n+2) {
            margin-bottom: 0;
        }

    }

    #featured-slider {
        .slick-item {
            padding: 235px 0;
        }
    }

    #gallery-slider .slick-item {
        padding: 220px 0;
    }

    .blog-posts-wrapper .col-3 article {
        width: 50%;
        float: left;
    }

    .footer-widgets-area.col-2 .hentry,
    .footer-widgets-area.col-4 .hentry {
        width: 50%;
        float: left;
    }

    .footer-widgets-area.col-2 .hentry:nth-child(2n+1),
    .footer-widgets-area.col-4 .hentry:nth-child(2n+1) {
        clear: left;
    }

    .footer-widgets-area.col-2 .hentry:nth-child(odd),
    .footer-widgets-area.col-4 .hentry:nth-child(odd) {
        padding-right: 40px;
    }

    .footer-widgets-area.col-2 .hentry:nth-last-child(-n+2),
    .footer-widgets-area.col-4 .hentry:nth-last-child(-n+2) {
        margin-bottom: 0;
    }
}