/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
@import 'variables';

a {
    color: $white;
    text-decoration: none;
    outline: none;
}

a:hover,
a:focus,
a:active {
    color: $red;
}