#main .not-logged {
    width: 90%;
    margin: auto;
    position: relative;
    text-align: center;

    h1 {
        color: $darkblue;
    }

    a {
        color: $blue;
    }

    ul>li>a {
        color: $blue;

        &:hover {
            color: $red;
        }
    }




}