.single {
    #primary {
        background-color: $white;
        margin-top: 40px;
    }

    #primary .event,
    #primary .firstgroup,
    #primary .secondgroup,
    #primary .thirdgroup,
    #primary .fourthgroup {

        .entry-meta a {
            color: $gray8;
            font-weight: bold;
        }

        .entry-meta.event-date {
            h3 {
                text-align: center;
                color: $red;
            }
        }

        .post-item {
            padding: 30px 15px 50px 15px;

            span,
            a {
                color: $gray5;
            }
        }

        .entry-header .entry-title {
            text-align: center;
            color: $darkblue;
            font-weight: bold;
        }

        .entry-container {
            .entry-title {
                font-weight: bold;
                color: $gray8;
                text-align: center;
            }

            p {
                text-align: justify;
            }
        }


        #comments {
            margin-top: 0;
            padding: 20px 30px 50px 20px;
        }
    }



}

.single #colophon {
    margin-top: 0;
}

.single-firstgroup,
.single-secondgroup,
.single-thirdgroup,
.single-fourthgroup {
    #main {
        background-color: #fff;
    }

    #main .entry-header {
        padding: 15px 0;
    }

    #main .entry-header .entry-title {
        text-align: center;
        color: $darkblue;
    }

    #main .entry-container {}

    #main #comments {
        margin: 50px auto 100px;
        padding: 0 20px;
    }

    #main .entry-content {
        padding: 40px 30px 60px;
    }
}