.site-branding {

    @include for-phone-only {
        min-height: auto;
        text-align: center;
        width: 100%;
        float: none;
        padding: 15px;
        display: block;
    }

    .site-logo+#site-identity {
        @include for-phone-only-m {
            margin-top: 15px;
        }

    }

    @include for-desktop-max-s {
        padding: 20px 0;
    }

}