/*===================================================================
## Social Icons
===================================================================*/
.social-icons {
    padding: 20px 0;
}

ul.social-icons {
    margin: 0;
    padding: 0;
}

.social-icons li {
    display: inline-block;

    width: 50px;
    height: auto;
    text-align: center;
    line-height: 50px;
    position: relative;
    list-style: none;
}

.social-icons ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.social-icons li {
    &:not(:last-child) {
        margin-right: 20px;
    }
}

.social-icons li a {
    display: inline-block;
    width: 50px;
    height: 50px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

    &:hover {
        color: $red;
    }

    &:before {
        font-family: "FontAwesome";
        visibility: visible;
        font-size: 30px;
    }
}


.social-icons li {
    a {
        color: $black3;
        border: 1px solid $red;
        background-color: $white;
        border-radius: 50px;

        &:hover,
        &:focus {
            background-color: $red;
        }

        transition: all 0.5s ease-in;

        &:hover {
            &:before {
                color: $white;
            }
        }
    }

    a[href*="facebook.com"],
    a[href*="fb.com"] {
        &:before {
            content: "\f09a";
        }
    }

    a[href*="twitter.com"]:before {
        content: "\f099";
    }

    a[href*="wa.link"]:before {
        content: "\f232";
    }

    a[href*="messenger.com"]:before {
        content: "\f27b";
    }

    a[href*="linkedin.com"]:before {
        content: "\f0e1";
    }

    a[href*="plus.google.com"]:before {
        content: "\f0d5";
    }

    a[href*="youtube.com"]:before {
        content: "\f167";
    }

    a[href*="dribbble.com"]:before {
        content: "\f17d";
    }

    a[href*="pinterest.com"]:before {
        content: "\f231";
    }

    a[href*="bitbucket.org"]:before {
        content: "\f171";
    }

    a[href*="github.com"]:before {
        content: "\f113";
    }

    a[href*="codepen.io"]:before {
        content: "\f1cb";
    }

    a[href*="flickr.com"]:before {
        content: "\f16e";
    }

    a[href$="/feed/"]:before {
        content: "\f09e";
    }

    a[href*="foursquare.com"]:before {
        content: "\f180";
    }

    a[href*="instagram.com"]:before {
        content: "\f16d";
    }

    a[href*="tumblr.com"]:before {
        content: "\f173";
    }

    a[href*="reddit.com"]:before {
        content: "\f1a1";
    }

    a[href*="vimeo.com"]:before {
        content: "\f194";
    }

    a[href*="digg.com"]:before {
        content: "\f1a6";
    }

    a[href*="twitch.tv"]:before {
        content: "\f1e8";
    }

    a[href*="stumbleupon.com"]:before {
        content: "\f1a4";
    }

    a[href*="delicious.com"]:before {
        content: "\f1a5";
    }

    a[href*="mailto:"]:before {
        content: "\f0e0";
    }

    a[href*="soundcloud.com"]:before {
        content: "\f1be";
    }

    a[href*="wordpress.org"]:before {
        content: "\f19a";
    }

    a[href*="wordpress.com"]:before {
        content: "\f19a";
    }

    a[href*="jsfiddle.net"]:before {
        content: "\f1cc";
    }

    a[href*="tripadvisor.com"]:before {
        content: "\f262";
    }

    a[href*="foursquare.com"]:before {
        content: "\f180";
    }

    a[href*="angel.co"]:before {
        content: "\f209";
    }

    a[href*="slack.com"]:before {
        content: "\f198";
    }

    a[href*="paypal.com"]:before {
        content: "\f1ed";


    }
}