/*--------------------------------------------------------------
# Typography Options
--------------------------------------------------------------*/
.header-font-1 h1,
.header-font-1 h2,
.header-font-1 h3,
.header-font-1 h4,
.header-font-1 h5,
.header-font-1 h6 {
    font-family: 'Raleway', sans-serif;
}

.header-font-2 h1,
.header-font-2 h2,
.header-font-2 h3,
.header-font-2 h4,
.header-font-2 h5,
.header-font-2 h6 {
    font-family: 'Poppins', sans-serif;
}

.header-font-3 h1,
.header-font-3 h2,
.header-font-3 h3,
.header-font-3 h4,
.header-font-3 h5,
.header-font-3 h6 {
    font-family: 'Montserrat', sans-serif;
}

.header-font-4 h1,
.header-font-4 h2,
.header-font-4 h3,
.header-font-4 h4,
.header-font-4 h5,
.header-font-4 h6 {
    font-family: 'Open Sans', sans-serif;
}

.header-font-5 h1,
.header-font-5 h2,
.header-font-5 h3,
.header-font-5 h4,
.header-font-5 h5,
.header-font-5 h6 {
    font-family: 'Lato', sans-serif;
}

.header-font-6 h1,
.header-font-6 h2,
.header-font-6 h3,
.header-font-6 h4,
.header-font-6 h5,
.header-font-6 h6 {
    font-family: 'Ubuntu', sans-serif;
}

.header-font-7 h1,
.header-font-7 h2,
.header-font-7 h3,
.header-font-7 h4,
.header-font-7 h5,
.header-font-7 h6 {
    font-family: 'Playfair Display', serif;
}

.header-font-8 h1,
.header-font-8 h2,
.header-font-8 h3,
.header-font-8 h4,
.header-font-8 h5,
.header-font-8 h6 {
    font-family: 'Lora', serif;
}

.header-font-9 h1,
.header-font-9 h2,
.header-font-9 h3,
.header-font-9 h4,
.header-font-9 h5,
.header-font-9 h6 {
    font-family: 'Titillium Web', sans-serif;
}

.header-font-10 h1,
.header-font-10 h2,
.header-font-10 h3,
.header-font-10 h4,
.header-font-10 h5,
.header-font-10 h6 {
    font-family: 'Muli', sans-serif;
}

.header-font-11 h1,
.header-font-11 h2,
.header-font-11 h3,
.header-font-11 h4,
.header-font-11 h5,
.header-font-11 h6 {
    font-family: 'Oxygen', sans-serif;
}

.header-font-12 h1,
.header-font-12 h2,
.header-font-12 h3,
.header-font-12 h4,
.header-font-12 h5,
.header-font-12 h6 {
    font-family: 'Nunito Sans', sans-serif;
}

.header-font-13 h1,
.header-font-13 h2,
.header-font-13 h3,
.header-font-13 h4,
.header-font-13 h5,
.header-font-13 h6 {
    font-family: 'Maven Pro', sans-serif;
}

.header-font-14 h1,
.header-font-14 h2,
.header-font-14 h3,
.header-font-14 h4,
.header-font-14 h5,
.header-font-14 h6 {
    font-family: 'Cairo', serif;
}

.header-font-15 h1,
.header-font-15 h2,
.header-font-15 h3,
.header-font-15 h4,
.header-font-15 h5,
.header-font-15 h6 {
    font-family: 'Philosopher', sans-serif;
}

.header-font-16 h1,
.header-font-16 h2,
.header-font-16 h3,
.header-font-16 h4,
.header-font-16 h5,
.header-font-16 h6 {
    font-family: 'Quicksand', sans-serif;
}

.header-font-17 h1,
.header-font-17 h2,
.header-font-17 h3,
.header-font-17 h4,
.header-font-17 h5,
.header-font-17 h6 {
    font-family: 'Prata', serif;
}

.header-font-18 h1,
.header-font-18 h2,
.header-font-18 h3,
.header-font-18 h4,
.header-font-18 h5,
.header-font-18 h6 {
    font-family: 'Kalam', cursive;
}

.header-font-19 h1,
.header-font-19 h2,
.header-font-19 h3,
.header-font-19 h4,
.header-font-19 h5,
.header-font-19 h6 {
    font-family: 'Special Elite', cursive;
}

.header-font-20 h1,
.header-font-20 h2,
.header-font-20 h3,
.header-font-20 h4,
.header-font-20 h5,
.header-font-20 h6 {
    font-family: 'Marck Script', cursive;
}

.header-font-21 h1,
.header-font-21 h2,
.header-font-21 h3,
.header-font-21 h4,
.header-font-21 h5,
.header-font-21 h6 {
    font-family: 'Kaushan Script', sans-serif;
}

.header-font-22 h1,
.header-font-22 h2,
.header-font-22 h3,
.header-font-22 h4,
.header-font-22 h5,
.header-font-22 h6 {
    font-family: 'Tangerine', sans-serif;
}

.header-font-23 h1,
.header-font-23 h2,
.header-font-23 h3,
.header-font-23 h4,
.header-font-23 h5,
.header-font-23 h6 {
    font-family: 'Bad Script', sans-serif;
}

.body-font-1,
.body-font-1 .site-title,
.body-font-1 #colophon .widget-title,
.body-font-1 #colophon .widgettitle {
    font-family: 'Raleway', sans-serif;
}

.body-font-2,
.body-font-2 .site-title,
.body-font-2 #colophon .widget-title,
.body-font-2 #colophon .widgettitle {
    font-family: 'Poppins', sans-serif;
}

.body-font-3,
.body-font-3 .site-title,
.body-font-3 #colophon .widget-title,
.body-font-3 #colophon .widgettitle {
    font-family: 'Roboto', sans-serif;
}

.body-font-4,
.body-font-4 .site-title,
.body-font-4 #colophon .widget-title,
.body-font-4 #colophon .widgettitle {
    font-family: 'Open Sans', sans-serif;
}

.body-font-5,
.body-font-5 .site-title,
.body-font-5 #colophon .widget-title,
.body-font-5 #colophon .widgettitle {
    font-family: 'Lato', sans-serif;
}

.body-font-6,
.body-font-6 .site-title,
.body-font-6 #colophon .widget-title,
.body-font-6 #colophon .widgettitle {
    font-family: 'Ubuntu', sans-serif;
}

.body-font-7,
.body-font-7 .site-title,
.body-font-7 #colophon .widget-title,
.body-font-7 #colophon .widgettitle {
    font-family: 'Playfair Display', serif;
}

.body-font-8,
.body-font-8 .site-title,
.body-font-8 #colophon .widget-title,
.body-font-8 #colophon .widgettitle {
    font-family: 'Lora', serif;
}

.body-font-9,
.body-font-9 .site-title,
.body-font-9 #colophon .widget-title,
.body-font-9 #colophon .widgettitle {
    font-family: 'Titillium Web', sans-serif;
}

.body-font-10,
.body-font-10 .site-title,
.body-font-10 #colophon .widget-title,
.body-font-10 #colophon .widgettitle {
    font-family: 'Muli', sans-serif;
}

.body-font-11,
.body-font-11 .site-title,
.body-font-11 #colophon .widget-title,
.body-font-11 #colophon .widgettitle {
    font-family: 'Oxygen', sans-serif;
}

.body-font-12,
.body-font-12 .site-title,
.body-font-12 #colophon .widget-title,
.body-font-12 #colophon .widgettitle {
    font-family: 'Nunito Sans', sans-serif;
}

.body-font-13,
.body-font-13 .site-title,
.body-font-13 #colophon .widget-title,
.body-font-13 #colophon .widgettitle {
    font-family: 'Maven Pro', sans-serif;
}

.body-font-14,
.body-font-14 .site-title,
.body-font-14 #colophon .widget-title,
.body-font-14 #colophon .widgettitle {
    font-family: 'Cairo', serif;
}

.body-font-15,
.body-font-15 .site-title,
.body-font-15 #colophon .widget-title,
.body-font-15 #colophon .widgettitle {
    font-family: 'Philosopher', sans-serif;
}

.body-font-16,
.body-font-16 .site-title,
.body-font-16 #colophon .widget-title,
.body-font-16 #colophon .widgettitle {
    font-family: 'Quicksand', sans-serif;
}