.responsive-container {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 auto;
}


.light {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 99999;
    overflow: visible;
    width: 100%;
    height: 100%;

    .container-btn {
        background-color: $white;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        z-index: 5;
    }

}

#courses .service-content .responsive-container .light {
    width: 110%;
    border: 1px solid #f6f4f3;
    border-top-color: #fff;
    border-radius: 3px;
    border-top-color: #fff;
    border-radius: 3px;
    background-color: #ebe8e5;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .15);
    -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 0 2px 2px rgba(0, 0, 0, .15);
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.img-preloader {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    cursor: pointer;
    z-index: 3;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;

}

.title-video {
    position: absolute;
    top: 10%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    color: #333;

}



.video-preloader {
    position: absolute;
    top: 0;
    right: 0;
}



.closebtn {
    float: right;
    margin-right: 10px;
    padding: 5px 15px;
    border: none;
    font-size: 32px;
    background-color: transparent;

    &:hover {
        color: $red;
    }
}

.wp-video {
    margin: 0 auto;
}

.wp-video,
video.wp-video-shortcode,
.mejs-container,
.mejs-overlay.load {
    width: 100% !important;
    height: 100% !important;
}

.wp-video video {
    width: 100% !important;
    height: 100% !important;
}



// figure {

//     .mejs-container {
//         padding-top: 56.25%;
//     }

// }

.wp-video,
video.wp-video-shortcode {
    max-width: 100% !important;
}

video.wp-video-shortcode {
    position: relative;
}

.mejs-mediaelement {
    position: relative !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.mejs-controls {
    display: none;
}

.mejs-overlay-play {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto !important;
    height: auto !important;
}

#headerPopup {
    width: 75%;
    margin: 0 auto;
}

#headerPopup .mejs-video {
    width: 100%;
    margin: 0 auto;
}

.videos-container {
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}


.entry-container .video-title {
    color: #333;
    padding: 20px 0 20px 15px;
}


.videos-container .video {
    min-width: 350px;
    width: 100%;
    padding: 10px 20px;
}