/* CUSTOM CSS CALENDAR */
#post-53 {
    .err-info {
        text-align: center;
        color: $red;
    }

    .cos {
        display: grid;
    }
}

#calendar {
    padding: 4px;
    border-radius: 4px;
    direction: ltr;
    overflow-x: hidden;
    user-select: none;



    &:after {
        clear: both;
        content: "";
        display: block
    }

    // .calendar-rtl {
    //     direction: rtl;

    //     .calendar-rtl table tr td span {
    //         float: right
    //     }

    // }

    table {
        margin: auto;
        border-spacing: 0;
        padding: 7px 0;

        td,
        th {
            text-align: center;
            width: 20px;
            border: none;
            padding: 4px 5px;
            font-size: 14px
        }

    }

    .calendar-header {
        width: 100%;
        margin-bottom: 20px;
        background-color: $red !important;
        color: white;
        border: 0;

        table {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 60px;

            th.prev,
            th.next {
                width: 20px;
                font-size: 35px;
            }

            th.prev {
                margin-left: 15px;
            }

            th.next {
                margin-right: 15px;
            }
        }

        table th {
            font-size: 22px;
            padding: 5px 10px;
            cursor: pointer;

        }


        .year-title {
            font-weight: 700;
            text-align: center;
            width: auto
        }

        .year-neighbor {
            opacity: .4;

            &:hover {
                opacity: 1;
            }
        }

        .year-neighbor2 {
            opacity: .2;

            &:hover {
                opacity: 1;
            }
        }

    }

    .months-container {
        width: 100%;
        display: flex !important;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;


        .month-container {
            text-align: center;
            padding: 0;
            min-height: 360px;
            margin: 0 3px;
        }



        .month-container th.month-title {
            font-size: 22px;
            letter-spacing: 2px;
            padding-bottom: 5px;
            background-color: $red;
            color: white;
            padding: 5px;
        }




    }

    table.month .day-header {
        padding-top: 8px;
        border-bottom: 2px solid $red;
    }

    table.month tr td:first-child {
        background-color: #f0dfdf;

    }


    table.month .day-header {
        color: #333;
        font-weight: bold;
    }

    table.month .day-header:first-child {
        color: $red;
    }

    table.month td.day .day-content {
        padding: 5px 8px;
    }

    table.month table.month {
        th.day-header {
            font-size: 16px;
        }

        tr td,
        tr th {
            padding: 0;
        }

        tr td.hidden,
        tr th.hidden {
            display: none
        }

        td.week-number {
            cursor: default;
            font-weight: 700;
            border-right: 1px solid #eee;
            padding: 5px
        }

        td.day.round-left {
            border-radius: 8px 0 0 8px;
        }

        td.day.round-right {
            border-radius: 0 8px 8px 0;
        }

        td.day .day-content {
            border-radius: 4px;
            padding: 5px 6px
        }

        td.new,
        td.new:hover,
        td.old,
        td.old:hover {
            background: 0 0;
            cursor: default
        }

        td.disabled,
        td.disabled:hover {
            color: #ddd
        }

        td.disabled .day-content:hover,
        td.disabled:hover .day-content:hover {
            background: 0 0;
            cursor: default
        }

        td.range .day-content {
            background: rgba(0, 0, 0, .2);
            border-radius: 0;
        }

        td.range.range-start .day-content {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px
        }

        td.range.range-end .day-content {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px
        }
    }

    .calendar-loading-container {
        position: relative;
        text-align: center;
        min-height: 200px
    }

    .calendar-loading-container .calendar-loading {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%)
    }

    .calendar-spinner {
        margin: 20px auto;
        width: 80px;
        text-align: center
    }



}

@media (max-width:991px) {
    .calendar {
        .calendar-header .year-neighbor2 {
            display: none
        }
    }
}

@media (max-width:767px) {
    .calendar {
        .calendar-header .year-neighbor2 {
            display: none
        }
    }
}


/*tooltp*/
#day-display div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#tooltip {
    position: absolute;
    background: #f1f1f1;
    color: #333;
    max-width: 300px;
    font-weight: bold;
    font-weight: bold;
    padding: 6px 10px;
    font-size: 13px;
    border-radius: 4px;
    display: none;
    overflow: auto;

    .event-name {
        font-size: 13px;
        line-height: 16px;
        font-weight: bold;
    }

    .event-description {
        color: #333;
        font-size: 12px;
        line-height: 15px;
    }

}



#tooltip+#tooltip {
    margin-top: 130px;
}

#tooltip[data-show] {
    display: block;
}

#arrow,
#arrow::before {
    position: absolute;
    width: 8px;
    height: 8px;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
}




#arrow::before {
    content: '';
    transform: rotate(45deg);
    background: #f1f1f1;
}

#tooltip[data-popper-placement^='top']>#arrow {
    bottom: -4px;
}

#tooltip[data-popper-placement^='bottom']>#arrow {
    top: -4px;
}

#tooltip[data-popper-placement^='left']>#arrow {
    right: -4px;
}

#tooltip[data-popper-placement^='right']>#arrow {
    left: -4px;
}

.colors-container {
    margin-bottom: 10px;

    ul {
        display: flex;
        list-style: none;
    }

    ul li span {
        display: inline-block;
        height: 25px;
        width: 25px;
        border: 1px solid gray;
        margin-right: 3px;

    }

    ul li {
        line-height: 30px;
        margin: 0 5px;
        font-size: 18px;
        align-items: center;
    }

    ul li:first-child span {

        background-color: #EAE038;
    }

    ul li:nth-child(2) span {
        background-color: #40ACC9;
    }
}