$blue: rgb(16, 24, 239);
$darkblue: rgb(31, 58, 88);
$lightblue: rgb(193, 211, 243);
$white: rgb(255, 255, 255);
$black3: #333;
$black36: #363636;
$gray5: #555;
$gray8: #888;
$red: #c62f23;
$lightgray: #ccc;