/*--------------------------------------------------------------
# Blog Posts Wrapper
--------------------------------------------------------------*/
#main.site-main {
    padding-bottom: 60px;
}

#main.blog-posts-wrapper .entry-meta,
#main.blog-posts-wrapper .entry-title,
#main.blog-posts-wrapper .entry-content {
    text-align: center;
}

#main.blog-posts-wrapper .entry-content {
    padding: 0 5px;

    p {
        text-align: justify;
    }
}

.blog-posts-wrapper {
    margin-bottom: 40px;

    .entry-container {
        padding: 10px 0 30px;
    }

    .entry-meta.posted-on {

        text-align: center;
    }

    .has-post-thumbnail .entry-container {
        padding-top: 0;
    }

    /* .entry-container .entry-header {
    margin-bottom: 16px;
}*/
    .entry-title {
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 5px;
    }

    .entry-title a {
        color: $darkblue;

        &:hover,
        &:focus {
            color: $red;
        }
    }


    .entry-meta a,
    .entry-meta .date,
    .entry-meta .byline,
    .entry-meta .read-time {
        font-size: 12px;
        font-weight: bold;
        padding: 4px 5px;
    }

    .entry-meta .date,
    .entry-meta .byline,
    .entry-meta .read-time {

        background-color: #000;
    }


    .entry-meta .author.vcard a:hover,
    .entry-meta .date a:hover,
    .entry-meta .byline:hover,
    .entry-meta .read-time:hover {
        color: $red;
        font-weight: bold;

    }

    .entry-title a {
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    article img {
        width: 100%;
    }

    figure {
        margin-bottom: 23px;
    }

    .entry-content {
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 1.8;

        .btn {
            &:hover {
                color: $black3;
            }
        }
    }


    article {
        margin-bottom: 30px;
    }

    .comments-link a {
        font-size: 12px;
        text-transform: uppercase;
        color: #aaa;
    }

    .comments-link a:hover,
    .comments-link a:focus {
        color: #f5f5f5;
    }

    .comments-link a:before {
        display: none;
    }

    .read-more {
        padding: 0 20px;
    }

    .entry-meta {
        padding: 0 20px;
    }

    .entry-meta.clear {
        margin-bottom: 0;
        padding: 0;
        position: relative;
    }

    .entry-meta.clear>span.date {
        float: left;
    }

    .entry-meta.clear>span {
        float: right;
    }

    .entry-meta.clear>span a {
        font-size: 12px;
        text-transform: none;

    }

    .entry-meta.clear>span a:before,
    .entry-meta .author:before {
        display: none;
    }

    .entry-meta.clear span.author.vcard {
        background-color: transparent;
        padding: 0;
    }

    .entry-meta.clear span.byline {
        margin-right: 0;
    }

    .entry-meta.clear span.author a {
        text-transform: capitalize;
        display: inline-block;
        padding: 6px 17px;
        margin-top: -6px;
    }

    .entry-meta.clear span.author a:after {
        border-bottom: 15px solid transparent;
        border-right: 0px solid $red;
        border-left: 15px solid $red;
        margin-left: auto;
        margin-right: -15px;
        left: auto;
        right: 0;
    }

    .wp-video {
        height: 100%;

    }


}


body:not(.home).left-sidebar .blog-posts-wrapper .entry-title,
body:not(.home).right-sidebar .blog-posts-wrapper .entry-title {
    font-size: 24px;
}



.post-item {
    box-shadow: 0 3px 0 0 rgba($gray8, 0.3);
    -webkit-box-shadow: 0 3px 0 0 rgba($gray8, 0.3);
    -moz-box-shadow: 0 3px 0 0 rgba($gray8, 0.3);
    margin-bottom: 30px;

}




.site-group .post-item {
    box-shadow: none;
    padding-bottom: 50px;
}

.entry-meta a,
.entry-meta .author.vcard,
.entry-meta .byline {
    font-size: 13px;
    color: #999;
    font-weight: bold;
}

.entry-meta {
    a::before {
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .cat-links a {
        display: inline-block;
        font-size: 14px;
        padding: 0 11px;

    }

}

.cat-links a {
    border: 1px solid;
    border-color: $red;
    padding: 3px 10px;
    background-color: $red;
    color: #fff;

    &:hover,
    &:focus {
        color: #f5f5f5;
        background-color: #343434;
        border: 1px solid;
        border-color: #f5f5f5;
    }
}


.no-sidebar .blog-posts-wrapper article,
.home.left-sidebar .blog-posts-wrapper article,
.home.right-sidebar .blog-posts-wrapper article,
.home.blog .blog-posts-wrapper article,
.search .blog-posts-wrapper article {
    padding: 0 15px;
}

.no-sidebar #primary,
.right-sidebar #primary {
    padding-top: 30px;
}


#primary #main .flex {
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;


    article {
        width: 50%;
        float: left;
        padding-bottom: 100%;
        margin-bottom: -100%;

        .btn {
            margin: 15px auto 30px;
        }
    }
}


.no-results.not-found .page-title {
    margin-top: 0;
}

.entry-meta>span {
    margin-right: 5px;
}

/*span.cat-links a:not(:last-child):after {
    content: ",";
}*/

.more-link {
    display: inline-block;
    border: 1px solid #e4e4e4;
    border-radius: 1px;
    box-sizing: border-box;
    padding: 9px 24px;
    color: #777;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 1.3;
    transition: all 0.3s ease-in-out;

    &:hover,
    &:focus {
        border-color: #f5f5f5;
        background-color: #000;
        color: #fff;
    }

}

.single {

    .entry-meta {
        margin-bottom: 10px;
    }

    .entry-meta>span {
        margin-bottom: 5px;
        display: inline-block;
    }
}


section .entry-meta>span:not(:last-child):after {
    content: "/";
    margin-left: 10px;
    margin-right: 5px;
    color: #aaa;
    font-size: 11px;
}

body.blog.right-sidebar .blog-posts-wrapper .col-3 article,
body.archive.right-sidebar .blog-posts-wrapper .col-3 article,
body.search.right-sidebar .blog-posts-wrapper .col-3 article,
body.blog.left-sidebar .blog-posts-wrapper .col-3 article,
body.archive.left-sidebar .blog-posts-wrapper .col-3 article,
body.search.left-sidebar .blog-posts-wrapper .col-3 article {
    width: 50%;
}

body.archive.right-sidebar .archive-group .blog-posts-wrapper .col-3 article {
    padding: 40px 15px;
}

body.archive.right-sidebar .archive-group .blog-posts-wrapper .col-3 article {
    .entry-container {
        .btn {
            margin-top: 15px;
        }
    }
}


.right-sidebar #primary,
.right-sidebar #primary.archive-group {
    background-color: $white;
    padding-top: 30px;
}

#primary {
    background-color: #fff;
}