/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after,
.footer-widgets-area:before,
.footer-widgets-area:after,
.wrapper:before,
.wrapper:after,
#latest-posts article:before,
#latest-posts article:after,
.widget:before,
.widget:after,
.posts-wrapper:before,
.posts-wrapper:after,
.services-items-wrapper:before,
.services-items-wrapper:after {
    content: "";
    display: table;
    table-layout: fixed;
}

.clear:after,
.entry-content:after,
.entry-container::after,
.entry-container::before,
.entry-container:before,
.comment-content:after,
.section-content:after,
.site-header:after,
.site-content:after,
.site-footer:after,
.footer-widgets-area:before,
.footer-widgets-area:after,
.section-content:before,
.wrapper:before,
.wrapper:after,
#latest-posts article:before,
#latest-posts article:after,
.widget:before,
.widget:after,
.posts-wrapper:before,
.posts-wrapper:after,
#author-section:before,
#author-section:after,
.services-items-wrapper:before,
.services-items-wrapper:after {
    clear: both;
}