/*--------------------------------------------------------------
#  Featured Slider Section
--------------------------------------------------------------*/

.slick-item {
    outline: none;
}



.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.slick-next,
.slick-prev {
    &:before {
        opacity: 1;
        content: "\f104";
        font-family: "FontAwesome";
    }
}

.slick-next {
    &:before {
        content: "\f105";
    }
}

.img-slider-cotainer {
    position: absolute;
    top: 0;
    bottom: 0;
    width: auto;
    height: auto;
}


.slick-prev,
.slick-next {
    left: 0;
    z-index: 1;
    width: 40px;
    height: 40px;
    background-color: $red;
    border-radius: 0;
    line-height: 52px;
}


.slick-next {
    left: auto;
    right: 0;
}


.slick-prev,
.slick-next,
.slick-prev,
.slick-next {

    &:hover,
    &:focus {
        background-color: #000;
    }
}


.slick-dots {
    li button {
        &:before {
            content: "";
            opacity: 1;
            background-color: $white;
            width: 12px;
            height: 12px;
            border-radius: 12px;
        }
    }

    li.slick-active button:before {
        background-color: #000;
    }

    li.slick-active button:before {
        opacity: 1;
    }

    li {
        margin: 0 2px;
    }
}

#featured-slider .wrapper {
    padding: 50px 0 0;
}

#featured-slider .section-content {
    padding-top: 30px;
}





.image-overlay.featured-content-wrapper {
    padding: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    max-width: 950px;
    width: 100%;
    left: 0;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}


.content-overlay.featured-content-wrapper {
    padding: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;


    .entry-title {
        &:hover {
            opacity: 0.7;
        }

        &:hover,
        &:focus {
            color: #f5f5f5;
        }

    }
}

.featured-content-wrapper {

    .more-link,
    .entry-meta a,
    .entry-title a,
    .entry-meta,
    .entry-meta h3 {
        color: #fff;
    }
}

#featured-slider .image-overlay .entry-meta .cat-links a {
    color: #fff;
    text-transform: uppercase;
}



.featured-content-wrapper {
    .entry-meta a {

        &:hover,
        &:focus {
            color: #fff;
            opacity: 0.8;
            background-color: transparent;
        }
    }

    .entry-meta {
        margin-bottom: 5px;
    }
}

#featured-slider {
    .separator {
        margin-bottom: 15px;
        width: 70px;
        background-color: $red;
        height: 3px;
        margin: auto;
        margin: 20px auto;
    }
}

.content-overlay.featured-content-wrapper {
    .entry-title {
        color: #fff;
        font-size: 40px;
        font-weight: bold;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;

        &:hover {
            color: $red;
        }
    }

}


.featured-content-wrapper .entry-content p,
#featured-slider .slick-item .entry-content {
    color: #222;
    font-size: 17px;
    margin: 0;
}

.slider-image-container {
    position: relative;
}

.slider-image-container .read-more {
    position: absolute;
    bottom: 10%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-top: 21px;

    a {
        color: #fff;

        &:hover {
            color: $gray8;
        }
    }
}


.slick-dots {
    top: 0;
    right: 10%;
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
    transform: translateX(50%);
}

.slick-dots li button {
    &::before {
        width: 15px;
        height: 15px;
        background-color: $white;
    }
}

.slick-dots li.slick-active button {
    &::before {
        background-color: $red;
    }
}

#featured-slider,
#gallery-slider {
    .slick-dots {
        bottom: 25px;
    }

    &:hover button.slick-arrow {
        visibility: visible;
        opacity: 1;
    }

    button.slick-arrow {
        visibility: hidden;
        opacity: 0;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }

    &:hover button.slick-arrow {
        visibility: visible;
        opacity: 1;
    }

    &:hover button.slick-arrow.slick-prev {
        left: 25px;
    }

    &:hover button.slick-arrow.slick-next {
        right: 25px;
    }

}