/*--------------
section gallery
----------------
*/



#gallery-slider {
    .wrapper {
        padding: 0;
    }

    .slick-item {
        padding: 300px 0;
    }

    .slick-slide {
        max-height: 470px;
    }

    .wrapper {
        position: relative;
        z-index: 1;
        background-color: $white;
    }

    button.slick-arrow {
        visibility: hidden;
        opacity: 0;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }

    &:hover button.slick-arrow {
        visibility: visible;
        opacity: 1;
    }

    .slick-item {

        padding: 180px 0;
        background-size: cover;
        background-position: center top;
        position: relative;
        background-color: #111;
        background-repeat: no-repeat;
    }



    .slick-prev {
        left: 10px;
    }

    .slick-next {
        right: 10px;
    }

    .slick-dots {
        bottom: 5%;
    }



}