@media screen and (max-width: 1023px) {
    #masthead {
        margin-bottom: 0;
        position: relative;
        min-height: 80px;
    }


    .site-title {
        font-size: 26px;
    }

    .menu-main-menu-container {
        position: fixed;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        width: 60vw;
        height: 100vh;
        overflow-x: scroll;
        z-index: 9999;
        background-color: rgb(44, 77, 114);
    }

    .main-navigation a {
        border-bottom: 1px solid #eee;
    }

    .main-navigation ul.nav-menu .current-menu-item>a {
        background-color: $lightgray;
    }

    .main-navigation ul ul a {
        width: 100%;
    }

    .main-navigation ul ul,
    .main-navigation ul ul ul {
        box-shadow: none;
        float: none;
        position: relative;
        top: 0;
        left: 0;
        margin-bottom: 0;

        display: none;

    }

    .main-navigation ul.sub-menu li {
        padding-right: 0;
        transform: translateY(-10%);
        visibility: hidden;
        transition: all 0.4s linear 0s !important;
    }

    .main-navigation .menu-item-has-children>a:before {
        content: "";
        float: right;
        position: relative;
        right: 0;
        background-color: #ccc;
        width: 1px;
        height: 25px;
    }

    .main-navigation .menu-item-has-children>a:after {
        padding-top: 3px;
    }

    .main-navigation ul.nav-menu>li>a,
    .main-navigation ul.sub-menu li a {
        padding: 13px 42px 13px 25px;
    }

    .main-navigation ul.sub-menu li a {
        padding-left: 50px;
    }

    .main-navigation ul.sub-menu ul li a {
        padding-left: 75px;
    }

    .main-navigation ul.sub-menu ul ul li a {
        padding-left: 100px;
    }

    .main-navigation ul.sub-menu ul ul ul li a {
        padding-left: 125px;
    }

    .main-navigation ul.sub-menu li a {
        border-left: none;
    }

    .main-navigation ul.nav-menu {
        margin-right: 0;
        background-color: rgb(44, 77, 114);
        margin-top: 25px;
        border-top: 1px solid #eee;
    }

    .main-navigation {
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.11);
        -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.11);
        -moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.11);
    }

    .main-navigation a {
        color: white;
    }

    #masthead.site-header .main-navigation ul.nav-menu {
        margin-top: 50px;
        position: absolute;
        top: 0;
        left: auto;
        right: 0;
        width: 100%;
        height: 100%;
    }

    .main-navigation .search-menu a {
        display: none;
    }

    .main-navigation form.search-form input {
        background-color: #343434;
        border: none;
        min-height: 55px;
    }

    .main-navigation form.search-form button.search-submit {
        height: 59px;
    }

    .main-navigation form.search-form input {
        padding-left: 25px;
    }



    .site-logo {
        .custom-logo-link {
            .custom-logo {
                height: 90px;
                width: 140px;
            }

            .sticky_logo_class {
                height: 70px;
            }
        }


    }



    #courses,
    #message,
    #featured-videos,
    #featured-slider,
    #welcome {
        .section-content {
            margin-top: 40px;
        }

    }


}