@media screen and (max-width: 600px) {


    #welcome {
        .wrapper {
            padding-bottom: 0;
        }

        .responsive-container {
            height: 320px;
            width: 90%;
        }
    }

    #primary #main .flex {

        article {
            width: 100%;
        }
    }

    // #gallery-slider {
    //     .slick-item {

    //         padding: 100px 0;
    //     }
    // }
    // .slick-item {

    //     padding: 100px 0;
    // }

    .single #primary #comments {
        width: 100%;
    }

}